* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(49, 48, 48);
    color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    /* border: 1px solid red; */
    width: 80%;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.sec > h6,
.min > h6,
.hour > h6 {
    font-weight: 300;
    font-size: 1.5rem;
}

.sec > h3 b,
.min > h3 b,
.hour > h3 b {
    font-size: 4rem;
}

.sec,
.min,
.hour {
    position: relative;
    padding: 2rem 4rem;
    background: rgb(28, 28, 28);
    border-radius: 5px;
    /* width: 15%; */
}

.overlay .bg-50 {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 35%;
    width: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(31, 28, 28);
    padding: 1rem;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.63);
    transition: opacity 0.3s ease-out;
}

.overlay .bg-50 .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay .bg-50 h4 b {
    display: flex;
    align-self: center;
    justify-content: center;
}

.overlay .bg-50 .actions #reset,
.overlay .bg-50 .actions #stop,
.overlay .bg-50 .actions #new-timer {
    border: none;
    background: rgb(59, 58, 58);
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: background 0.2s ease-in;
}

.overlay .bg-50 .actions #reset:hover,
.overlay .bg-50 .actions #stop:hover,
.overlay .bg-50 .actions #new-timer:hover {
    background-color: white;
    color: rgb(59, 58, 58);
    cursor: pointer;
}

.overlay .bg-50 .actions #reset:active,
.overlay .bg-50 .actions #stop:active {
    padding: 0.2rem, 0.7rem;
}

footer {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .social-media {
    position: relative;
    width: 20%;
    height: 10%;
    /* background: White; */
}

footer .social-media a img {
    background: white;
    padding: 0.2rem 0.2rem;
    border-radius: 50%;
}

footer .social-media a {
    text-decoration: none;
    color: white;
}
